.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
}

.header{
  background-color: #A3CB38;
  padding: 14px;
  color: white;
  width: 100%;
}
.form{
  margin-top: 30px;

}
.data {
  margin: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.data_val{
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 0px 9px 0px 9px;
  /* background-color: grey; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

