.App {
  text-align: center;
  /* background-color: white; */
  color: black;
  min-height: 100vh;
}
/* 
.header{
background-color: yellow;
}
.footer {
  background-color: blue;

} */
h1{
  margin: 0;
}

.header {
  background-color: rgb(23, 32, 135);
  height: 40px;
  width: auto;
 padding: 10px; 
 color: white;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}
.mov{
  background-color: rgb(219, 212, 212);
  color: black;
  border: 2px solid gray;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14px;

}
.mov img{
  height: 220px;
  width: 100%;
}

@media screen and (min-width: 240px) and
(max-width: 580px) { 
  .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;

  }
  .mov{
    background-color: rgb(219, 212, 212);
    color: black;
    border: 2px solid gray;
    padding: 3px;
    font-weight: bold;
    text-align: start;
    height: 55vh;
    width: 29%;
    margin-top: 5px;
 
  }
  .mov img{
    height: 220px;
    width: 100%;
  }
  
}

@media screen and (min-width: 581px) and
(max-width: 932px) { 
  
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;
}
.mov{
  background-color: rgb(219, 212, 212);
  color: black;
  border: 2px solid gray;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14px;

}
.mov img{
  height: 220px;
  width: 100%;
}

  
}


@media screen and (min-width: 932px) and
(max-width: 1032px) { 
  
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
}
.mov{
  background-color: rgb(219, 212, 212);
  color: black;
  border: 2px solid gray;
  padding: 3px;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 16px;

}
.mov img{
  height: 220px;
  width: 100%;
}

  
}